# 30 10 * * 1 /usr/local/bin/python /app/main.py >> /var/log/cron.log 2>&1
# Test Line below
* * * * * root /usr/local/bin/python /app/main.py >> /var/log/syslog 2>&1

# Crontabs require a newline at the end of the file
